<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_hospital_root"
        name="Hospital"
        web_icon="om_hospital/static/description/icon.png"
        sequence="0"/>
    <menuitem id="menu_patient_master"
        name="Patient Details"
        parent="menu_hospital_root"
        sequence="0"/>
    <menuitem id="menu_patient"
        name="patient"
        action="action_hospital_patient"
        parent="menu_patient_master"
        sequence="0"/>
      <menuitem id="menu_appointement_master"
        name="Appointement"
        parent="menu_hospital_root"
        sequence="0"/>
    <menuitem id="menu_configuration"
        name="configuration"
        parent="menu_hospital_root"
        sequence="100"/>




</odoo>
